{% block content %}
  <div class="container-fluid">


    <div class="container">
      <div class="sidebar-nav navbar-right">
      {% block sidebar %}
                      <div class="chatting-panel panel panel-default">
                          <div class="panel-heading">
                              <h3 class="panel-title">online zone</h3>
                          </div>
                          <div class="panel-body">
                                <p class="bs-component">
                                  <table border="0" align="right"> 
                                      <p>
                                          <p>content</p>
                                      </p>  
                                  </table>
                              </p>
                          </div>
                      </div>
      {% endblock %}

      </div>
    </div>

  </div>
{% endblock %}